- schedules.each do |schedule|
  %small
    =schedule.linked_tags
  %p
    Distance
    = schedule.full_distance
    %br
    %small
      with
      = schedule.items
      = pluralize(schedule.items, 'Item')
      =" - Score:" 
      = schedule.score.to_i
    %br
    %a(href="#{schedule.url}")more
