- schedules.each do |schedule|
  %p.schedule
    Distance
    = "#{schedule.full_distance}m"
    %br
    %small
      =schedule.linked_tags
      %br
      = schedule.created_at.strftime '%d.%m.%y | %H:%M'
      |
      = schedule.items
      = pluralize(schedule.items, 'Item')
      | Score:
      = schedule.score.to_i
    %br      
    %a(href="#{schedule.url}")more
