!!! 5
%html
  %head
    %title
      = "Schedules - " << (section(:title) || "Untitled")
    %link(rel="stylesheet" href="/css/screen.css")  
  %body
    - [:error, :notice].each do |name|
      - unless flash[name].nil? 
        %div{:id => "flash_#{name}"}=flash[name]
    %ul#nav
      %li
        %a(href="/new")new schedule
    %ul#tags
      - all_tags.each do |tag|
        %li
          %a(href="/tags/#{tag[0]}")
            =tag[0]
          ="-"
          =tag[1]
    %div#content
      - if show_title?
        %h2= section(:title)
      = yield
      %p
        %a(href="/") show all
