!!! 5
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset=>"utf-8"}

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
  Remove this if you use the .htaccess -->
  -#%meta{:"http-equiv"=>"X-UA-Compatible", :content=>"IE=edge,chrome=1"}

  %title
    = "Schedules - " << (section(:title) || "Untitled")
  %meta{:name=>"description", :content=>"Sinatra app to store and share swim schedules"}
  %meta{:name=>"author", :content=>"sch1zo"}

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
  %link{:rel=>"apple-touch-icon", :href=>"/apple-touch-icon.png"}


  <!-- CSS : implied media="all" -->
  %link{:rel=>"stylesheet", :href=>"/css/screen.css"}

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->
 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects  -->
  %script{:src=>"/js/modernizr-1.7.min.js"}


%body
  #container
    %header
      - if show_title?
        %h1= section(:title)
    #sidebar
      %nav
        %ul
          - if auth?
            %li
              %a(href="/new")new schedule
          %li
            %a(href="/")show all
      - if auth?
        %p
          = "Hello #{session[:name]}"
          %a{:href=>"/signout"} Logout
      -else
        #auth
          %a{:href=>"/auth/twitter", :class=>"auth_provider"}
            Twitter
            %img{:src=>"/images/twitter_32.png", :size => "32x32", :alt => "Twitter"}
          %a{:href=>"/auth/facebook", :class=>"auth_provider"}
            Facebook
            %img{:src=>"/images/facebook_32.png", :size => "32x32", :alt => "Facebook"}
          %a{:href=>"/auth/github", :class=>"auth_provider"}
            Github
            %img{:src=>"/images/github_32.png", :size => "32x32", :alt => "Github"}
          %a{:href=>"/auth/google_apps", :class=>"auth_provider"}
            Google
            %img{:src=>"/images/google_32.png", :size => "32x32", :alt => "Google"}
          %a{:href=>"/auth/open_id", :class=>"auth_provider"}
            OpenID
            %img{:src=>"/images/openid_32.png", :size => "32x32", :alt => "OpenID"}
        .clear
      #tagcloud
        - tag_cloud %w(xxs xs s l xl xxl) do |tag, css_class|
          %a{:href=>"/tags/#{tag}", :class=>"#{css_class}"}=tag
    %div{:role=>"main"}
      - ['error', 'notice'].each do |name|
        - unless flash[name].nil? 
          %div{:id => "flash_#{name}"}=flash[name]
      = yield

    %footer
      sch1zo | Source at
      %a{:rel=>"source", :href=>"https://github.com/sch1zo/schedule-db-redis"}
        GitHub
  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  %script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"}
  %script
    :plain
      !window.jQuery && document.write(unescape('%3Cscript src="/js/jquery-1.5.1.min.js"%3E%3C/script%3E'))
  %script{:src=>"/js/script.js"}
