-title 'Schedule', false
.schedule
  %h2.sans
    = "#{schedule.full_distance}m"
  %small
    .tags= schedule.linked_tags
    = schedule.created_at.strftime '%d.%m.%y | %H:%M'
      
  %ul.items.mono
    -for item in items
      %li{:class=>"level#{item.level}"}
        =h item.text
  .controls
    - if auth?
      %a{:href=>"#{schedule.url}/edit"}edit
      |
      %a{:href=>"#{schedule.url}/uprank", :class => 'uprank'}uprank
      |
      - case session[:provider]
        - when 'facebook'
          %script{:src=>"http://connect.facebook.net/en_US/all.js#xfbml=1"}
          %fb:like{:href=>"#{schedule.url}", :layout=>"button_count", :show_faces=>"false", :width=>"60", :font=>"arial"}
        - when 'twitter'
          twitter button
    Score:
  .score
    = schedule.score.to_i
  