%strong
  =schedule.linked_tags
%small
  = "#{schedule.full_distance}m"
  with
  = schedule.items
  = pluralize(schedule.items, 'Item')
%ul.items
  -for item in items
    %li{:class=>"level#{item.level}"}
      =h item.text
