-title 'Schedule', false
.schedule
  %h2.sans
    = "#{schedule.full_distance}m"
  %small
    .tags= schedule.linked_tags
    = schedule.created_at.strftime '%d.%m.%y | %H:%M'
      
  %ul.items.mono
    -for item in items
      %li{:class=>"level#{item.level}"}
        =h item.text
  .controls
    %a{:href=>"#{schedule.url}edit"}edit
    |
    %a{:href=>"", :class => 'uprank'}uprank
    |
    Score:
  .score
    = schedule.score.to_i
  