-title 'Schedule', false
%strong
  = schedule.linked_tags
%small
  = schedule.created_at.strftime '%d.%m.%y | %H:%M'
%br
%small
  = "#{schedule.full_distance}m"
  =" - Score:"
  = schedule.score.to_i
  .uprank= button_to 'uprank', "#{schedule.url}uprank"
    
%ul.items
  -for item in items
    %li{:class=>"level#{item.level}"}
      =h item.text
%a(href="#{schedule.url}edit")edit
