-title 'Schedule', false
.schedule
  %h2.sans
    = "#{schedule.full_distance}m"
  %small
    .tags= schedule.linked_tags
    = schedule.created_at.strftime '%d.%m.%y | %H:%M'
      
  %ul.items.mono
    -for item in items
      %li{:class=>"level#{item.level}"}
        =h item.text
  .controls
    - if auth?
      %a{:href=>"#{schedule.url}/edit"}edit
      |
      %a{:href=>"#{schedule.url}/uprank", :class => 'uprank'}uprank
      |
      - case session[:provider]
        - when 'facebook'
          %script{:src=>"http://connect.facebook.net/en_US/all.js#xfbml=1"}
          %fb:like{:href=>"#{schedule.url}", :layout=>"button_count", :show_faces=>"false", :width=>"60", :font=>"arial"}
        - when 'twitter'
          twitter button
    Score:
  .score
    = schedule.score.to_i

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
%script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"}
%script
  :plain
    !window.jQuery && document.write(unescape('%3Cscript src="/js/jquery-1.5.1.min.js"%3E%3C/script%3E'))
%script{:src=>"/js/script.js"}